<div class="container-fluid">
    <div class="row" >
        <div class="col-12" fxLayoutAlign="center center">
            <img src="http://localhost:8003/v1/mediaManager/mag20-images/favicon.ico?isImage=true"
                 alt="LOGO">
        </div>
    </div>
    <div class="row" style="margin-bottom: 0.3em">
        <div class="col-12">
            <button mat-stroked-button class="fullwidth" color="primary" (click)="addProject()">DODAJ PROJEKT</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12"
             fxLayout="row wrap"
             fxLayout.xs="column"
             fxLayoutAlign="space-evenly"
             fxLayoutGap="10px grid"
             fxLayoutGap.xs="0">

            <div *ngFor="let project of projectArray">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{project.name}}</mat-card-title>
                        <mat-card-subtitle>Project id: {{project.projectId}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image style="height: 300px; max-height: 300px" [src]="mediaManagerUrl + project.thumbnail + '?isImage=true'" alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-stroked-button color="primary" (click)="openProject(project)">ODPRI</button>
                        <div fxFlex></div>
                        <button mat-stroked-button color="warn" (click)="removeProject(project)">IZBRIŠI</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
