<div class="container-fluid" cdkDropListGroup>
    <div class="row">
        <div class="col-8">
            <mat-toolbar>
                <mat-toolbar-row>
                    <span *ngIf="currentProject">PROJEKT: {{currentProject.name}}</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <app-player
                [currentStream]="currentStream"
                [(currentMediaTime)]="currentStreamTime"
            ></app-player>
            <div class="row" style="margin-top: .5em">
                <div class="col-6" style="margin-top: 1.5em">
                    <div *ngIf="currentMediaPlay" class="containerMedia">
                        <img class="containerMedia__image" [src]=" currentMediaPlay.thumbnail && currentMediaPlay.thumbnail !== '' ? mediaManagerUrl + currentMediaPlay.thumbnail : ''">
                        <div class="containerMedia__text">
                            <mat-card-title>{{currentMediaPlay.name}}</mat-card-title>
                            <mat-card-subtitle>id: {{currentMediaPlay.mediaId}}, projectId: {{currentMediaPlay.projectId}}, status: {{currentMediaPlay.status}}</mat-card-subtitle>
                            <mat-card-subtitle>siteName: {{currentMediaPlay.siteName}}</mat-card-subtitle>
                        </div>
                        <div fxFlex=""></div>
                        <div fxLayoutAlign="center">
                            <button (click)="takeMediaImage()" mat-raised-button color="primary" style=" white-space: pre-wrap !important;"><mat-icon>add_a_photo</mat-icon></button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div *ngIf="currentMediaPlay">
                        <div style="width: 30%; display: inline">
                            <button (click)="addInCutPoint()" mat-raised-button color="primary" style="margin: 1em">IN</button>
                            <mat-form-field appearance="fill" color="primary">
                                <mat-label>Vstopna točka</mat-label>
                                <label>
                                    <input matInput  type="text"  [(ngModel)]="currentStreamInTime" required >
                                </label>
                            </mat-form-field>
                        </div>

                        <div style="width: 30%; display: inline">
                            <button (click)="addOUtCutPoint()" mat-raised-button color="primary" style="margin: 1em">OUT</button>
                            <mat-form-field  appearance="fill" color="primary">
                                <mat-label>Izstopna točka</mat-label>
                                <label>
                                    <input matInput  type="text"  [(ngModel)]="currentStreamOutTime" required >
                                </label>
                            </mat-form-field>
                        </div>
                    </div>

                    <button *ngIf="currentMediaPlay" class="fullwidth" (click)="cutVideo()" mat-raised-button color="primary" style="margin: 1em">POREŽI VIDEO</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <mat-tab-group (selectedIndexChange)="tabEvent($event)" mat-stretch-tabs>
                <mat-tab label="ISKANJE">
                    <ng-template matTabContent>
                        <div>
                            <mat-form-field class="fullwidth">
                                <mat-label>izberi tiš medije</mat-label>
                                <mat-select [value]="3" (selectionChange)="searchNewMedia($event)">
                                    <mat-option [value]="3">OBJAVLJENA</mat-option>
                                    <mat-option [value]="1">PROCESIRANJE</mat-option>
                                    <mat-option [value]="-1">VSA MEDIA</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div #mediaSearchList
                            cdkDropList
                             cdkDropListSortingDisabled
                             style="height: 600px; overflow: scroll;">

                            <app-media-card *ngFor="let media of mediaSearchArray index as i"
                                            [style]="{'cursor': !checkIfDraggable(media) || media.status < 3 ? 'alias': 'grab'}"
                                            (cdkDragStarted)="onSearchMediaDrag($event, media, i)"
                                            (cdkDragEnded)="dragDropService.onDragEnded()"
                                            [cdkDragData]="'media'"
                                            [cdkDragDisabled]="!checkIfDraggable(media) || media.status < 3"
                                            cdkDrag
                                            (mediaForPlayEvent)="playOneMedia($event, i, 'search')"
                                            [media]="media"
                                            (dblclick)="editMedia(media, i, 'search')"
                            >
                                <div *cdkDragPlaceholder></div>
                            </app-media-card>
                        </div>

                    </ng-template>
                </mat-tab>
                <mat-tab label="PROJEKT">
                    <ng-template matTabContent>
                        <mat-toolbar style="height: 2em">Posnetki projekta</mat-toolbar>

                        <div
                            #mediaProjectList
                            cdkDropList
                            cdkDropListSortingDisabled
                            style="height: 300px; overflow-y: scroll;">

                            <app-media-card
                                [style]="{'cursor': !checkIfDraggable(media) || media.status < 3 ? 'alias': 'grab'}"
                                (cdkDragStarted)="onProjectMediaDrag($event, media, i)"
                                (cdkDragEnded)="dragDropService.onDragEnded()"
                                [cdkDragData]="'media'"
                                [cdkDragDisabled]="!checkIfDraggable(media) || media.status < 3"
                                cdkDrag
                                *ngFor="let media of projectMedias index as i"
                                (mediaForPlayEvent)="playOneMedia($event, i, 'project')" [media]="media"
                                (dblclick)="editMedia(media, i, 'project')"
                            >

                                <div *cdkDragPlaceholder></div>

                            </app-media-card>

                        </div>

                        <mat-toolbar style="height: 2em">
                            Sekvence
                            <div fxFlex=""></div>
                            <button mat-raised-button color="primary" (click)="createSequence()">Dodaj</button>
                        </mat-toolbar>
                        <div style="height: 300px; overflow-y: scroll;">
                            <ng-container *ngFor="let sequence of projectSequences">
                                <app-sequence-card
                                    style="cursor: alias"
                                    (dblclick)="updateSequence(sequence)"
                                    (editSequenceEvent)="getCurrentSequenceMedias($event)"
                                    [sequence]="sequence"
                                ></app-sequence-card>
                            </ng-container>
                        </div>

                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="row">
        <div class="col-12" *ngIf="currentSequence">
            <mat-toolbar style="height: 3em">
                Urejanje sekvece: {{currentSequence.sequence.name}}
                <i><small>sequenceId: {{currentSequence.sequence.sequenceId}}, status: {{currentSequence.sequence.status}}</small></i>
                <button mat-mini-fab color="primary" style="margin-left: 1em;" (click)="playSeqeunce(currentSequence.sequence)"><mat-icon>play_arrow</mat-icon></button>
                <div fxFlex></div>
                <button mat-raised-button color="primary" (click)="publishSequence()">OBJAVI</button>
                <button mat-raised-button color="warn" (click)="deleteSequence()">IZBRIŠI</button>
            </mat-toolbar>

            <div class="scrolling-wrapper-flexbox"
                 [style]="{'opacity': dragDropService.getDragEnteredScope() === 'media' ? 0.5: 1.0,
                            'border': dragDropService.dragScope === 'media' ? '2px dotted green': ''}"
                 cdkDropList
                 (cdkDropListEntered)="dragDropService.setEnteredScope('media')"
                 (cdkDropListExited)="dragDropService.setEnteredScope('');"
                 (cdkDropListDropped)="dropMedia($event)"
                 [cdkDropListEnterPredicate]="dragDropService.mediaDragScopePredicate"
            >
                <div *ngFor="let media of currentSequence.Medias" style="max-width: 25%" class="card">
                    <app-media-card [media]="media"  [isSequenceMedia]="true"></app-media-card>
                </div>
                <div fxLayoutAlign="center center"  *ngIf="currentSequence.Medias.length > 0">
                    <button (click)="deleteLastMediaFromSequence()" mat-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button><br>
                </div>
                <div *ngIf="currentSequence.Medias.length === 0">
                    <h3>Sem vrži medijo v sekvenco</h3>
                </div>

            </div>
        </div>
    </div>
</div>
