<mat-card *ngIf="sequence" style="margin-bottom: 0.5em">
    <mat-card-content>
        <div class="containerMedia">
            <img class="containerMedia__image" [src]=" sequence.thumbnail && sequence.thumbnail !== '' ? mediaManagerUrl + sequence.thumbnail : ''">
            <div class="containerMedia__text">
                <div>
                    <mat-card-title>{{sequence.name}}</mat-card-title>
                    <mat-card-subtitle>sequenceId: {{sequence.sequenceId}}, projectId: {{sequence.projectId}}</mat-card-subtitle>
                    <mat-card-subtitle>status: {{sequence.status}}</mat-card-subtitle>
                </div>
            </div>
            <div fxFlex></div>
            <div *ngIf="sequence.status < 3" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" (click)="editSequenceClick(sequence.sequenceId)">UREDI</button>
            </div><br>
        </div>
    </mat-card-content>
</mat-card>
