<mat-card style="margin-bottom: 0.5em">
    <mat-card-content>
        <div class="containerMedia">
            <img class="containerMedia__image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="containerMedia__text">
                <div>
                    <mat-card-title>TITLE</mat-card-title>
                    <mat-card-subtitle>data</mat-card-subtitle>
                </div>
            </div>
            <div fxFlex></div>
            <div fxLayoutAlign="center center">
                <button mat-raised-button color="primary">UREDI</button>
            </div><br>
        </div>
    </mat-card-content>
</mat-card>
