html, body { height: 100%; }
body { margin: 0.5em; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullwidth {
    width: 100%;
    max-width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.containerMedia {
    &__image {
        display: inline-block;
        vertical-align: top;
        width: 35%;
        height: 100px;
    }
    &__text {
        display: inline-block;
        width: 60%;
        margin-left: 1em;
    }
}
